# Python Caches
__pycache__/
*.py[cod]

# Virtuelle Umgebungen (WICHTIG!)
venv/
.venv/
env/

# Falls du mit Daten arbeitest (große JSON/PDF Backups, die nicht ins Git sollen)
*.pdf
# data/  <-- Falls dein Datenordner zu groß für GitHub ist

# Konfig Dateien
cline-python-openrouter
Cline_Startprompt.txt
.clinerules
.clineignore
log.txt
*.code-workspace
Prompts

# Generierte Logs und Zwischenstände
data/*.log
data/ordir_extracted_raw.json